h1{
  color: var(--green-300);
  background: var(--gray-800);
  width: 20rem;
  height: 10rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--white);
}